<app-file-upload (onFilesUploaded)="checkYourCheck($event)"></app-file-upload>
<div *ngIf="!lastCheck" class="text-center my-5">
    <p><i class="fas fa-sync fa-spin fa-2x"></i></p>
    <p><em>Loading...</em></p>
</div>
<div *ngIf="lastCheck" class="container border rounded bg-white mb-3">

    <div>
        <h3 class="text-center mt-3 mx-4">Your Check <i class="fas fa-receipt"></i></h3>
    </div>

    <div class="float-right  mx-4">
        <mat-slide-toggle (change)="toggleView($event)">Raw</mat-slide-toggle>
    </div>

    <br>

    <div class="my-3 mx-4">
        <h5 class="text-center">Image</h5>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="w-100 text-center">
                    <img src="{{lastCheck.file}}" alt="Image not awailable :(" class="w-100">
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div *ngIf="!isRaw" class="mx-4">
        <div class="mb-3">
            <h5 class="text-center">General Info</h5>
            <div >
                <mat-card>
                    <p>Name: {{lastCheck.name}} </p>
                    <p>Location: {{lastCheck.location}} </p>
                    <p>Date: {{lastCheck.date}} </p>
                </mat-card>
            </div>
        </div>

        <div class="mb-3">
            <h5 class="text-center">Products</h5>
            <div>
                <table mat-table [dataSource]="lastCheck.products" class="w-100 mat-elevation-z1">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef>Type</th>
                        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                    </ng-container>

                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef>Quantity</th>
                        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Price</th>
                        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>

    <div *ngIf="isRaw" class="mb-3 mx-4">
        <textarea rows="20" class="form-control " readonly> {{getJsonValue(lastCheck)}} </textarea>
    </div>
</div>